.equipment-figure img {
    max-width: 200px;
    max-height: 200px;
}

.equipment-figure {
    margin: 0;
}

.equipment-description {
    display: flex;
    flex-direction: column;
}

.equipment-description h3 {
    order: 1;
}

.equipment-description .nav-link {
    max-width: 6rem;
    order: 2;
}

.equipment-description p {
    order: 3;
}

@media (min-width: 54.125em) {
    .equipment-figure {
        margin-right: 1rem;
    }

    .equipment-description p {
        order: 2;
        font-size: 0.95rem;
        max-width: 50ch;
    }

    .equipment-description .nav-link {
        order: 3;
    }
}
