footer{
  margin-top: 2rem;
  border-top: 1px solid grey;
  background-color: #646464;
  color: white;
  padding-bottom: 2rem;
}

footer h3 {
  color: white;
  margin-bottom: 1rem;
}
address {
  font-style: normal;
}

.footer-content {
  max-width: 72rem;
  margin: auto;
}

footer a h4 {
  color: white;
}

footer a:hover h4, footer a:focus h4 {
  color: #F29F4E;
}