label {
    color: #423C97;
    font-weight: 600;

}

input[type="text"] {
    display: block;
}

/*https://www.w3schools.com/css/css_attribute_selectors.asp <- for attribute selection*/
input[type="reset"], input[type="submit"] {
    background-color: #F29F4E;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
}

input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #FBCD00;
}
