/*https://css-tricks.com/dont-overthink-flexbox-grids/*/
.grid {
    display: block;
}

.grid.demo .col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252342;
    color: white;
    border: solid;
    border-color: white;
}

.col {
    flex: 1;
}

.col.one-third {
    flex: 0 0 33%;
}

.col.two-third {
    flex: 0 0 66%;
}

.col.fill {
    flex-grow: 1;
}

.col.one-sixth {
    flex: 0 0 16.66%;
}

.col {
     padding-left: 1rem;
     padding-top: 1rem;
 }
.col:last-child {
    padding-right: 1rem;
}

@media (min-width: 54.125em) {
    .grid {
        display: flex;
    }

}