/*https://www.dogstudio.co/ <- main inspiration for hamburger menu*/

/*hamburger and main nav code*/
/*https://codepen.io/designcouch/pen/Atyop*/
.hamburger {
    width: 2rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 2;
}

.menu-open .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hamburger div {
    -webkit-transition: background-color 0.4s, -webkit-transform 0.4s;
    transition: background-color 0.4s, -webkit-transform 0.4s;
    -o-transition: background-color 0.4s, transform 0.4s;
    transition: background-color 0.4s, transform 0.4s;
    transition: background-color 0.4s, transform 0.4s, -webkit-transform 0.4s;
    width: 100%;
    height: 20%;
    background-color: #4B90E2;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform?v=a*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
.hamburger div:nth-child(1) {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hamburger div:nth-child(3) {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-open {
    overflow: hidden;
}

.menu-open .hamburger div:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: white;
}

.menu-open .hamburger div:nth-child(2) {
    background-color: transparent;
}

.menu-open .hamburger div:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: white;
}

nav .nav-link a {
    color: #646464;
    text-decoration: none;
    font-weight: 500;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: transparent;
    -webkit-transition: color 0.4s, border-bottom-color 0.4s;
    -o-transition: color 0.4s, border-bottom-color 0.4s;
    transition: color 0.4s, border-bottom-color 0.4s;
    font-size: 1.2em;

}

nav div:not(:first-of-type) {
    margin-left: 1.5rem;
}

nav a:focus, nav a:hover {
    color: #646464;
    border-bottom-color: #646464;
}

nav a.selected:focus, nav a.selected:hover {
    border-bottom-color: #F29F4E;
}

nav a.selected {
    color: #F29F4E;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
}

.menu-open nav {
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}

.menu-open nav .nav-link {
    margin-left: 0;
}

.menu-open nav  a {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* This may be redundant as there are no hover states on mobile devices, but in the future this may change.*/
.menu-open  nav a:hover, .menu-open  nav a:focus {
    border-color: white;
}

.menu-open  nav a.selected {
    color: #F29F4E;
}

.menu-open  nav a.selected:hover, .menu-open  nav a.selected:focus {
    border-color: #F29F4E;
}

/*anchor section*/

a {
    color: #4B90E2;
    font-weight: bold;
}

a:focus, a:hover {
    color: #F29F4E;
    text-decoration: none;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-transform: uppercase;
}
.hidden {
    visibility: hidden;
    display: none;
}
.nav-link {
    margin-bottom: 1rem;
}

@media (min-width: 54.125em) {

    .menu-open {
        overflow: auto;
    }

    .menu-open  nav {
        background-color: transparent;
        opacity: 1;
        position: relative;
        height: auto;
        width: auto;
        display: block;
    }

    .menu-open  nav a {
        color: #423C97;
        font-size: 1rem;
        margin-bottom: 0;
    }
}