/*https://www.dogstudio.co/ <- main inspiration for hamburger menu*/

/*hamburger and main nav code*/
/*https://codepen.io/designcouch/pen/Atyop*/
.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 2;
}

.hamburger div {
    transition: background-color 0.4s, transform 0.4s;
    width: 100%;
    height: 20%;
    background-color: #4B90E2;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform?v=a*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
.hamburger div:nth-child(1) {
    transform-origin: right bottom;
    transform: rotate(0deg);
}

.hamburger div:nth-child(3) {
    transform-origin: right top;
    transform: rotate(0deg);
}

body.menu-open {
    overflow: hidden;
}

body.menu-open .hamburger div:nth-child(1) {
    transform: rotate(-45deg);
    background-color: white;
}

body.menu-open .hamburger div:nth-child(2) {
    background-color: transparent;
}

body.menu-open .hamburger div:nth-child(3) {
    transform: rotate(45deg);
    background-color: white;
}

nav .link-container {
    display: none;
}

nav .link-container a {
    color: #646464;
    text-decoration: none;
    font-weight: 500;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: transparent;
    transition: color 0.4s, border-bottom-color 0.4s;
    margin-left: 1.5rem;
    font-size: 1.2em;
}

nav .link-container a:focus, nav .link-container a:hover {
    color: #646464;
    border-bottom-color: #646464;
}

nav .link-container a.selected:focus, nav .link-container a.selected:hover {
    border-bottom-color: #F29F4E;
}

nav .link-container a.selected {
    color: #F29F4E;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
}

body.menu-open header nav {
    background-color: rgba(100,100,100, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

body.menu-open header nav .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.menu-open header nav .link-container a {
    color: white;
    font-size: 2rem;
    margin-bottom: 4rem;

}

/* This may be redundant as there are no hover states on mobile devices, but in the future this may change.*/
body.menu-open header nav .link-container a:hover, body.menu-open header nav .link-container a:focus {
    border-color: white;
}

body.menu-open header nav .link-container a.selected {
    color: #F29F4E;
}

body.menu-open header nav .link-container a.selected:hover, body.menu-open header nav .link-container a.selected:focus {
    border-color: #F29F4E;
}

/*anchor section*/

a {
    color: #4B90E2;
    font-weight: bold;
}

a:focus, a:hover {
    color: #F29F4E;
    text-decoration: none;
}

/*nav link section*/
a.nav-link {
    font-weight: normal;
    padding: 0.5rem 1rem;
    background-color: #4B90E2;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;
    text-align: center;
}

a.nav-link:hover, a.nav-link:focus {
    background-color: #F29F4E;
}

@media (min-width: 54.125em) {
    .hamburger {
        display: none;
    }

    nav .link-container {
        display: block;
    }

    body.menu-open {
        overflow: auto;
    }

    body.menu-open header nav {
        background-color: transparent;
        opacity: 1;
        position: relative;
        height: auto;
        width: auto;
    }

    body.menu-open header nav .link-container {
        display: block;
    }

    body.menu-open header nav .link-container a {
        color: #423C97;
        font-size: 1rem;
        margin-bottom: 0;
    }
}
