.header-branding {
    display: flex;
    padding: 2rem 1rem;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
}

.header-branding h3 {
    margin: 0;
    width: 25%;
}

.header-branding figure {
    margin-left: 0;
}


.home-image-header{
  /*overflow: hidden;*/
  position: relative;
  height: auto;
}
header figure {
    width: 100%;
    margin:0;
}
header img{
    width: 100%;
    display: block;
}
header button{
    text-transform: uppercase;
    background-color: #4F92E0;
    color:white;
    padding:5px 20px;
    border: none;
    border-radius: 1px;
}
.transparent-overlay{
    background: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0;
    left: 5%;
    top:0;
    padding: 20% 5%;
    padding-right: 10%;
    width: 35%;
}
.transparent-overlay h2 {
    color: white;
}
header a{
  color:white;
  font-weight: normal; 
}
