header {
    position:fixed;
    background-color: white;
    z-index: 3;
    width: 100%;
    -webkit-box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}


.header-branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 72rem;
    margin:auto;
}

.header-branding > div:first-of-type {
    width: 100%;
}

.header-branding h3 {
    margin: 0;
}

.header-branding figure {
    margin-left: 0;
}

.splash-header h1 {
    padding: 2rem 0;
    text-align: center;
}

header a{
    color:white;
    font-weight: normal;
}