.image-button figure img {
    width: 100%;
}

.image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-button figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width:100%;
}

.image-button .nav-button {
    width: 100%;
    padding: 2rem 3rem;
}

@media (min-width: 54.125em) {

}
