
.listing {
    position: relative;
    display: block;
    border-width: 0.002rem;
    border-color: #000;
    border-style: none;
    padding-top:3rem;
}

.listing:not(:last-of-type) {
    padding: 3rem 0;
    border-bottom: 0.02rem solid #ddd;
}

.listing img {
    width: 100%
}

.listing figure {
    margin: 0;
}

.listing .grid div:nth-child(2) {
    position: relative;
    display: -ms-flex;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: space-between;
}
@media (min-width: 54.125em) {
    .listing .grid div:nth-child(2):before {
        content: "";
        background: #ddd;
        position: absolute;
        bottom: 10%;
        top: 10%;
        left: 0;
        width: 1px;
    }

    .listing .grid div:nth-child(2) {
        padding: 2rem 3rem;
    }

    .listing figure {
        padding-right: 3rem;
    }

}
