.location{
  display: inline-block;
}
hr {
  width: 30%;
  margin-top: 5%;
}
a{
  text-decoration-line: none;
}

.map img {
  width: 100%;
}

.hours-listing {
  display: flex;
  justify-content: space-between;
}
div:nth-of-type(odd).hours-listing{
  background-color: rgba(222,222,222,0.15);
}
