.location{
  display: inline-block;
}
hr {
  width: 30%;
  margin-top: 5%;
}
a{
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.map img {
  width: 100%;
}

.hours-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hours-listing p {
  margin-top: 0;
}

.location-info-heading {
  margin-bottom: 1rem;
  margin-top: 0;
}

.phone-number {
  margin-bottom: 1rem;
  display: inline-block;
}

address {
  margin-top: 0;
  margin-bottom: 1rem;
}