@import "listing.css";
@import "hamburger-nav.css";
@import "grid.css";
@import "form.css";
@import "text-styles.css";
@import "header.css";
@import "section.css";
@import "portrait.css";
@import "nav-button.css";
@import "image-button.css";
@import "calendar.css";
@import "location.css";
@import "footer.css";
@import "social-media.css";
@import "style-guide.css";
@import "citations.css";
*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 72rem;
    margin: auto;
    padding-top: 5.857125rem;
}



section.style-section {
    display: flex;

}

.example-container {
    flex: 1 1 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

figcaption {
    width: 100%;
}

.wireframe-container figure img {
    max-width: 100%;
}


em {
    font-weight: bold;
}

@media (min-width: 54.125em) {
    body {
        font-family: 'Open Sans', sans-serif;
    }
    .wireframe-container figure img {
        max-width: 20rem;
    }

}

#sitemap img {
  height: 100%;
  width: 100%;
}
