
section .title-container {
    position: relative;
    left: 0;
    right: 0;
    display: -ms-flex;
    display: flex;
}

section .title-container.justified {
    justify-content: flex-start;
    padding-left: 1rem;
}

section .title-container.centered {
    justify-content: center;
    align-content: center;
}

.arrow-container {
    position: relative;
    left: 0;
    right: 0;
    bottom: -5.8rem;
    display: -ms-flex;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

/*https://css-tricks.com/snippets/css/css-triangle/*/
.arrow-down {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2rem solid;
}

section.alternate:nth-child(even) {
    background-color: white;
}

section.alternate:nth-child(even) .arrow-down {
    border-top-color: white;
}

section.alternate:nth-child(odd) {
    background-color: #D9D9D9;
}

section.alternate:nth-child(odd) .arrow-down {
    border-top-color: #D9D9D9;
}


section {
    padding-bottom: 4rem;
}

section:last-child {
    padding-bottom: 6rem;
}