section h2 {
    margin: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    display: inline-block;
}

.arrow-container {
    position: relative;
    left: 0;
    right: 0;
    bottom: -1.8rem;
    display: -ms-flex;
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

/*https://css-tricks.com/snippets/css/css-triangle/*/
.arrow-down {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2rem solid #f00;
}