/*this is for section titles*/
h1 {
    color: #646464;
    font-weight: 500;
    font-size: 2.5rem;
}

/*this is for text overlay on images*/
h2 {
    /*color: #FFFFFF;*/
    color: #646464;
    font-weight: 400;
    font-size: 2rem;

}

/*this is for CREATION STATION on nav bar*/
h3 {
  color: #646464;
  font-weight: 900;
  font-size: 1.6rem;
}

/*this is for product titles*/
h4 {
  color: #646464;
  font-weight: 600;
  font-size: 1.2rem;

}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {
  color: #646464;
}
