h1 {
    color: #F6772B;
    font-weight: 800;
    font-size: 3rem;
}

h2 {
    color: #423C97;
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
